body { background-color: cornsilk; }

header { background-color: darkgray; padding: 10px; margin-bottom: 1%;}
header img { max-width: 40%; float: left; }
header::after { content: ""; display: table; clear: both; }

h1 {
    color: rgb(144, 100, 165);
    font-size: 2.5vw;
}

table { width: 100%; border-collapse: collapse; border: 1px solid black;}
tr, th {  border: 1px solid black; padding:25px; width: 5.26%; 
    text-align: center;
    font-size: 1.1vw;
}
td { border: 1px solid black; font-size: 1vw;}
tr#t01 th { font-weight: normal; padding: 0%;}
tr#t00 th { padding:0%; }


.alkam { background-color: rgb(251, 77, 83); }
.alkae { background-color:rgb(254 , 215, 157); }
.lanth { background-color: rgb(253, 172, 255); }
.acit { background-color: rgb( 253, 129, 193); }
.trans { background-color: rgb(254, 176, 178); }
.post { background-color: rgb(193, 193, 193); }
.metalloid { background-color: rgb(193, 195, 135); }
.met { background-color: rgb(226, 226, 226); }
.react { background-color: rgb(237, 255, 125); }
.gas { background-color: rgb(180, 255, 253); }