body {
    background-color: rgba(247, 247, 130, 0.31);
    margin: auto;
    font-size: 1.3vw;

}

.menu {
    width: 10%;
    background-color: rgb(11, 2, 1);
    position: relative;
    display: inline-block;
    text-align: center;
    color: rgb(136, 134, 134);
    margin: 0%;
    font-weight: bold;

}

.sal-cont { 
    position: absolute;
    background-color: #f4942dd4;
    text-align: center;
    display: none;
    color: rgb(46, 63, 96);
}


.menu:hover .sal-cont{
    display: block;
    width: 100%;
}

p:hover {
    background-color: rgb(34, 77, 96);
    display: block;
    color: whitesmoke;
}

.menu:hover {
    background-color: #4CAF50;
    color: white;
}