body {
    background-color: rgba(247, 247, 130, 0.31);
    margin: auto;

}

.menu {
    width: 10%;
    background-color: aliceblue;
    position: relative;
    display: inline-block;
    text-align: center;
    color: rgb(136, 134, 134);
    margin: 1%;
}

.sal-cont {
    position: absolute;
    background-color: #ebc18d;
    text-align: center;
    display: none;
    color: rgb(46, 63, 96);
}


.menu:hover .sal-cont{
    display: block;
    width: 100%;
}

p:hover {
    background-color: rgb(34, 77, 96);
    display: block;
    color: whitesmoke;
}

.menu:hover {
    background-color: #4CAF50;
    color: white;
    
}